<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title> <%= title %> </title>
  </head>
  <body>    
    <% include ../partials/nav-bar.ejs %>
    <p>This is the main page</p>
    <% include ../partials/fotter.ejs %>
  </body>
</html>