<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <script src="/javascript/tasks.js"></script>
    <link rel="stylesheet" href="/stylesheets/table.css" >
    <link rel="stylesheet" href="/stylesheets/task-editor.css" >
    <link rel="stylesheet" href="/stylesheets/chat-box.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> <%= title %> </title>
  </head>
  <body>
    <% include ../partials/nav-bar.ejs %>
    <div class='row'>
      <div 
        class="alert alert-danger"
        id="alert-danger" 
        style="margin: 20%; display:none;">
      </div>
    </div>
    <div class='row'>
      <div class="col-md-8 left-col" id="container">
        <div class='row'>
          <h2 style="text-align: center"> My tasks </h2>
        </div>
        <button onclick="showForm(this)"
          class="btn btn-info btn-lg show-task-form">
          <span class="glyphicon glyphicon-plus-sign">
          </span> 
          Plus
        </button>
        <div id='create-task-form'>
          <label style="margin:10px">Task name:
            <input id="input-task-name" style="margin:10px" />
          </label>
          <button class="btn btn-primary" onclick="createTask()" style="margin:10px">
            create
          </button>
        </div>
        <% _.each(tasks, function(task) { %>
          <ul class="list-group">
            <li class="list-group-item" taskId=<%=task.id %> > 
              <p> 
                <%=task.title %>
                <button class="btn btn-primary pull-right" onclick="showTask(this)"> 
                  See more 
                </button> 
                <button class="btn btn-primary pull-right" onclick="deleteTask(this)"> 
                  Remove 
                </button>
              </p>
            </li>
          </ul>
        <% }); %>
      </div>
      <div right-column">
        <% if (activeTask) { %>
          <% include ../partials/chat_box.ejs %>
          <% include ../partials/invite_form.ejs %>
        <% } %>
      </div>
    </div>
    <% include ../partials/fotter.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/task_socket.js"></script>
  </body>
</html>